* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  overflow: hidden;
  border-radius: 10px;
}

header {
  background-color: #dd7138;
  color: #160f0c;
  padding: 3px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header h1 {
  padding-left: 9px;
  font-weight: bolder;
}

header button {
  background-color: transparent;
  border: none;
  outline: none;
}

div.container {
  background-color: black;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

div.container div.user-window {
  width: 350px;
  color: #161a16;
  background-color: #f18f56;
  padding: 15px 20px;
  border-radius: 10px;
}

div.container div.user-window div.user-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

div.container div.user-window div.user-head h4 {
  background-color: darkgrey;
  padding: 0 8px;
  border-radius: 50px;
}

div.container div.user-window div.user-head div.users-list p {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 15px;
}

div.container div.chat-window {
  width: 100%;
  border-radius: 10px;
  background-color: darkgrey;
  margin-left: 20px;
}

div.container div.chat-window div.chats {
  min-height: 65vh;
  padding: 20px;
}

div.container div.chat-window div.chats div.user-join {
  font-size: 0.9rem;
  color: darkgrey;
  background-color: white;
  border-radius: 50px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 7px 20px;
  margin: 0 auto;
  margin-bottom: 15px;
}

div.container div.chat-window div.chats div.message {
  color: darkgrey;
  background-color: white;
  padding: 5px 15px;
  max-width: 400px;
  margin-bottom: 15px;
  border-radius: 10px 50px 50px 10px;
}

div.container div.chat-window div.chats div.message p {
  font-size: 15px;
}

div.container div.chat-window div.outgoing {
  margin-left: auto;
  color: white;
  background-color: lightblue;
  border-radius: 50px 10px 10px 50px;
  text-align: right;
}

div.container div.chat-window div.user-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 20px;
}

div.container div.chat-window div.user-input input {
  font-size: 15px;
  background-color: lightcyan;
  outline: none;
  border: none;
  width: 100%;
  border-radius: 50px 0 0 50px;
}

div.container div.chat-window div.user-input button {
  font-size: 15px;
  font-weight: 600;
  padding: 5px 15px;
  border: none;
  outline: none;
  letter-spacing: 0.5px;
  color: white;
  background-color: orange;
  border-radius: 0 50px 50px 0;
}

@media screen and (max-width: 900px) {
  main {
    width: 95%;
  }
  main header button {
    display: block;
  }
  main div.container {
    position: relative;
  }
  main div.container div.users-window {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    z-index: 11;
    -webkit-box-shadow: 0 15px 20px -20px black;
            box-shadow: 0 15px 20px -20px black;
    padding-bottom: 0;
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */